# ----------------------------------------
# Free HDBoot Config File — Ultimate FreeMcBoot (Features)
# must be in hdd0:__sysconf/FMCB/FREEHDB.CNF, mc?:/SYS-CONF/FREEHDB.CNF or mass:/FREEHDB.CNF
# ----------------------------------------
CNF_version = 1
# ----------------------------------------
Debug_Screen = 0
FastBoot = 1
pad_delay = 0
LK_Auto_E1 = OSDSYS
LK_Auto_E3 = OSDSYS
LK_Circle_E3 = OSDSYS
LK_Cross_E3 = OSDSYS
LK_Square_E3 = OSDSYS
LK_Triangle_E1 = FASTBOOT
LK_L1_E1 = mass:/UPDT/OPL.ELF
LK_L1_E2 = mc?:/APPS/WOPNPS2LD.ELF
LK_L1_E3 = hdd0:PP.FHDB.APPS:pfs:/OPL/WOPNPS2LD.ELF
LK_R1_E1 = mass:/BOOT/BOOT.ELF
LK_R1_E2 = mc?:/BOOT/BOOT.ELF
LK_R1_E3 = hdd0:__sysconf:pfs:/FMCB/BOOT.ELF
LK_L2_E3 = OSDSYS
LK_R2_E1 = hdd0:__common:pfs:/POPS/BOOT.ELF
LK_R2_E2 = hdd0:__common:pfs:/POPS/KHN.ELF
LK_R2_E3 = hdd0:__sysconf:pfs:/FMCB/KHN.ELF
LK_L3_E3 = OSDSYS
LK_R3_E3 = OSDSYS
LK_Up_E3 = OSDSYS
LK_Down_E1 = POWEROFF
LK_Left_E3 = OSDSYS
LK_Right_E3 = OSDSYS
LK_Start_E1 = hdd0:__sysconf:pfs:/FMCB/FMCB_CFG.ELF
LK_Start_E3 = OSDSYS
LK_Select_E3 = OSDSYS
hacked_OSDSYS = 1
OSDSYS_video_mode = AUTO
OSDSYS_Skip_Logo = 1
OSDSYS_Skip_Disc = 0
OSDSYS_Inner_Browser = 2
OSDSYS_selected_color = 0x10,0x80,0xE0,0x80
OSDSYS_unselected_color = 0x33,0x33,0x33,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 320
OSDSYS_menu_y = 110
OSDSYS_enter_x = 30
OSDSYS_enter_y = -1
OSDSYS_version_x = -1
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 1000
OSDSYS_cursor_acceleration = 100
OSDSYS_left_cursor = o009
OSDSYS_right_cursor = o008
OSDSYS_menu_top_delimiter = y-99Ultimate FreeMcBoot  c0[r0.80ashorizonends.comr0.00]y-00
OSDSYS_menu_bottom_delimiter = c0r0.60y+99Use o006/o007 to browse listy-00r0.00
OSDSYS_num_displayed_items = 8
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
name_OSDSYS_ITEM_1 = Open PS2 Loader
path1_OSDSYS_ITEM_1 = mc?:/APPS/OPNPS2LD.ELF
path2_OSDSYS_ITEM_1 = hdd0:PP.FHDB.APPS:pfs:/OPL-STD/OPNPS2LD.ELF
path3_OSDSYS_ITEM_1 = mass:/APPS/OPNPS2LD.ELF
path4_OSDSYS_ITEM_1 = mass:/UPDT/OPL.ELF
name_OSDSYS_ITEM_2 = Double OPL
path1_OSDSYS_ITEM_2 = mc?:/APPS/WOPNPS2LD.ELF
path2_OSDSYS_ITEM_2 = hdd0:PP.FHDB.APPS:pfs:/OPL/WOPNPS2LD.ELF
path3_OSDSYS_ITEM_2 = mass:/APPS/WOPNPS2LD.ELF
name_OSDSYS_ITEM_3 = Cheat Device [NTSC]
path1_OSDSYS_ITEM_3 = mc?:/APPS/cheats-ntsc/cheatdevice.elf
path2_OSDSYS_ITEM_3 = hdd0:PP.FHDB.APPS:pfs:/cheats-ntsc/cheatdevice.elf
path3_OSDSYS_ITEM_3 = mass:/APPS/cheats-ntsc/cheatdevice.elf
name_OSDSYS_ITEM_4 = Cheat Device [PAL]
path1_OSDSYS_ITEM_4 = mc?:/APPS/cheats-pal/cheatdevice.elf
path2_OSDSYS_ITEM_4 = hdd0:PP.FHDB.APPS:pfs:/cheats-pal/cheatdevice.elf
path3_OSDSYS_ITEM_4 = mass:/APPS/cheats-pal/cheatdevice.elf
name_OSDSYS_ITEM_5 = Controller Tester
path1_OSDSYS_ITEM_5 = mc?:/APPS/CONTROLLERTESTER.ELF
path2_OSDSYS_ITEM_5 = hdd0:PP.FHDB.APPS:pfs:/CONTROLLERTESTER.ELF
path3_OSDSYS_ITEM_5 = mass:/APPS/CONTROLLERTESTER.ELF
name_OSDSYS_ITEM_6 = POPStarter
path1_OSDSYS_ITEM_6 = mc?:/APPS/POPSTARTER/POPSTARTER.ELF
path2_OSDSYS_ITEM_6 = hdd0:PP.FHDB.APPS:pfs:/POPSTARTER/POPSTARTER.ELF
path3_OSDSYS_ITEM_6 = mass:/APPS/POPSTARTER/POPSTARTER.ELF
name_OSDSYS_ITEM_7 = Launch Disc
path1_OSDSYS_ITEM_7 = FASTBOOT
name_OSDSYS_ITEM_8 = File Manager
path1_OSDSYS_ITEM_8 = mass:/BOOT/BOOT.ELF
path2_OSDSYS_ITEM_8 = mc?:/BOOT/BOOT.ELF
path3_OSDSYS_ITEM_8 = hdd0:__sysconf:pfs:/FMCB/BOOT.ELF
name_OSDSYS_ITEM_9 = File Manager HDD
path1_OSDSYS_ITEM_9 = hdd0:__sysconf:pfs:/FMCB/ULE_ISR_HDD.ELF
path2_OSDSYS_ITEM_9 = mc?:/BOOT/ULE_ISR_HDD.ELF
name_OSDSYS_ITEM_98 = Free HDBoot Configurator
path1_OSDSYS_ITEM_98 = hdd0:__sysconf:pfs:/FMCB/FMCB_CFG.ELF
name_OSDSYS_ITEM_99 = Restart System
path1_OSDSYS_ITEM_99 = OSDSYS
name_OSDSYS_ITEM_100 = Shutdown System
path1_OSDSYS_ITEM_100 = POWEROFF
